<div class="top">
<div class="jumbotron">
  <h1>achieve33</h1>
  <p>「経験ゼロからWebエンジニアになる！！」</p>
  <p>achieveは、目標達成を支援するWebアプリケーションです。</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">今すぐはじめる</a></p>
</div>
</div>