<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <p><%= simple_format(@help.content) %></p>
        <br \>
        <p>ご連絡先:<%= @help.email %></p>
    </body>
</html>