<p><%= @help.name %>様</p>
        <br \>
        <p>以下の内容でお問い合わせ承りました。</p>
        <p><%= simple_format(@help.content) %></p>
        <br \>
        <p>ご返答までお時間いただくこともございますが、しばらくお待ちくださいませ。</p>
        <br \>
        <p>お問い合わせいただきありがとうございました。</p>
