 <ul><% comments.each do |comment| %>
      <% unless comment.id.nil? %>
        <li>
          <%= comment.user %>
          <%= comment.content %>
          <%= link_to '編集', edit_blog_comment_path(@blog, comment) %>
          <%= link_to '削除', comment, method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %>
          
        </li>
      <% end %>
  <% end %></ul>