<div class="container">
    <h2>お知らせ</h2>
    <hr>
    <% @notifications.each do |notification| %>
    <ul class="notification-list">
        <li>
            <p>
                <small class="dropdown">
                    <% if notification.comment.present? %>
                    <%= link_to "ブログ「#{notification.comment.blog.title}」に#{sender_user(notification)}さんがコメントしました。", blog_path(notification.comment.blog) %>
                    <% elsif notification.project.present? %>
                    <%= link_to "プロジェクト「#{notification.project.name}」に#{sender_user(notification)}さんがあなたを招待しました。", invited_project_user_path(notification.recipient_id) %>
                    <% elsif notification.message.present? %>
                    <%= link_to "#{notification.message.user.name}さんからメッセージが届きました。", conversation_messages_path(notification.message.conversation) %>
                    <% end %>
                </small>
            </p>
            <p class="palette-paragraph text-right">
                <small class="dropdown">
                    <i class="fa fa-clock-o"></i>&ensp;<%= posted_time(notification.created_at) %>
                </small>
            </p>
        </li>
        <hr>
    </ul>
    <% end %>
</div>