<div class="col-md-4">
<table class="table">
  <thead>
    <tr>
      <th>プロジェクト名</th>
    </tr>
  </thead>
<% if @projects.any? %>
<% @projects.each do |project| %>
<% unless @user.approving?(project) %>
  <tbody>
    <tr>
      <td><%= project.name %></td>
      <div id="approve_form_<%= project.id %>">
      <td><%= render partial: "approve", locals: { user: @user, project: project } %></td>
      </div>
    </tr>
  </tbody>
 <% end %>
 <% end %>
 <% end %>
</table>
</div>