<div id="submit_requests_<%= current_user.id %>">
    <%= render partial: 'inbox_list', locals: { submit_requests: @submit_requests } %>
</div>

<br>

<%= link_to '依頼一覧へ', user_submit_requests_path(current_user) %>