<div class="col-md-4">
<table class="table">
  <thead>
    <tr>
      <th>顧客名</th>
    </tr>
  </thead>
<% customers.each do |customer| %>
  <tbody>
    <tr>
      <td><%= customer.name %></td>
      <td>
        <% if admin_user == current_user %>
            <%= link_to "顧客情報変更", edit_project_customer_path(project, customer), class: "btn btn-success btn-sm" %>
            <%= link_to "顧客削除", project_customer_path(project, customer), method: :delete, data: { confirm: '本当にこの顧客を削除してもよろしいですか？' }, class: "btn btn-danger btn-sm" %>
        <% end %>
      </td>
    </tr>
  </tbody>
 <% end %>
</table>
</div>