

.comment-user {
    float: left;
}

.comment-content {
    margin-left: 15px;
    word-break: break-word;
    float: left;
    text-align: left;
}

.comment-link {
    font-size: 95%;
    text-align: center;
}